# Regional economic dynamics, nighttime lights, and land cover: Insights from dimly lit islands

## Install Packages

In [139]:
import pandas as pd
# import geopandas as gpd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from pandasgui import show

## Preliminaries

In [140]:
# Set path
path = "/Users/Jesson Pagaduan/Google Drive/Geospatial_Project/"

## GDP by province from NTL

In [141]:
df_ntl_prov = pd.read_csv(path + "data/scratch/NTL_2000-2018_PHL_province_21Apr.csv", index_col=False,
                          usecols=['YEAR', 'NAME_1', 'ZONE_CODE', 'COUNT', 'SUM'], 
                          parse_dates=['YEAR'])
df_ntl_prov.columns = [i.lower() for i in df_ntl_prov.columns]

In [142]:
df_ntl_prov['region'] = ''

In [143]:
ncr = ['Metropolitan Manila']
car = ['Abra', 'Apayao', 'Benguet', 'Ifugao', 'Kalinga', 'Mountain Province']
region1 = ['Ilocos Norte', 'Ilocos Sur', 'La Union', 'Pangasinan']
region2 = ['Batanes', 'Cagayan', 'Isabela', 'Nueva Vizcaya', 'Quirino']
region3 = ['Aurora', 'Bataan', 'Bulacan', 'Nueva Ecija', 'Pampanga', 'Tarlac', 'Zambales']
region4a = ['Batangas', 'Cavite', 'Laguna', 'Quezon', 'Rizal']
region4b = ['Marinduque', 'Occidental Mindoro', 'Oriental Mindoro', 'Palawan', 'Romblon']
region5 = ['Albay', 'Camarines Norte', 'Camarines Sur', 'Catanduanes', 'Masbate', 'Sorsogon']
region6 = ['Aklan', 'Antique', 'Capiz', 'Guimaras', 'Iloilo', 'Negros Occidental']
region7 = ['Bohol', 'Cebu', 'Negros Oriental', 'Siquijor']
region8 = ['Biliran', 'Eastern Samar', 'Leyte', 'Northern Samar', 'Samar', 'Southern Leyte']
region9 = ['Zamboanga del Norte', 'Zamboanga del Sur', 'Zamboanga Sibugay']
region10 = ['Bukidnon', 'Camiguin', 'Lanao del Norte', 'Misamis Occidental', 'Misamis Oriental']
region11 = ['Compostela Valley', 'Davao del Norte', 'Davao del Sur', 'Davao Oriental']
region12 = ['North Cotabato', 'Sarangani', 'South Cotabato', 'Sultan Kudarat']
region13 = ['Agusan del Norte', 'Agusan del Sur', 'Dinagat Islands', 'Surigao del Norte', 'Surigao del Sur']
armm = ['Basilan', 'Lanao del Sur', 'Maguindanao', 'Sulu', 'Tawi-Tawi']

In [144]:
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(ncr), 'region'] = 'Metropolitan Manila'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(car), 'region'] = 'Cordillera Administrative Region (CAR)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region1), 'region'] = 'Ilocos Region (Region I)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region2), 'region'] = 'Cagayan Valley (Region II)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region3), 'region'] = 'Central Luzon (Region III)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region4a), 'region'] = 'CALABARZON (Region IV-A)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region4b), 'region'] = 'MIMAROPA (Region IV-B)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region5), 'region'] = 'Bicol Region (Region V)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region6), 'region'] = 'Western Visayas (Region VI)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region7), 'region'] = 'Central Visayas (Region VII)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region8), 'region'] = 'Eastern Visayas (Region VIII)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region9), 'region'] = 'Zamboanga Peninsula (Region IX)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region10), 'region'] = 'Northern Mindanao (Region X)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region11), 'region'] = 'Davao Region (Region XI)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region12), 'region'] = 'SOCCSKSARGEN (Region XII)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(region13), 'region'] = 'Caraga (Region XIII)'
df_ntl_prov.loc[df_ntl_prov['name_1'].isin(armm), 'region'] = 'Autonomous Region of Muslim Mindanao (ARMM)'

In [145]:
df_ntl_prov = df_ntl_prov[['year', 'region', 'name_1', 'zone_code', 'count', 'sum']]

In [146]:
df_ntl_prov

,year,region,name_1,zone_code,count,sum
0,2018-01-01,Cordillera Administrative Region (CAR),Abra,1,16754,57.640000
1,2018-01-01,Caraga (Region XIII),Agusan del Norte,2,12207,1434.179999
2,2018-01-01,Caraga (Region XIII),Agusan del Sur,3,34906,373.640000
3,2018-01-01,Western Visayas (Region VI),Aklan,4,6844,459.970000
4,2018-01-01,Bicol Region (Region V),Albay,5,10395,1369.459998
...,...,...,...,...,...,...
1534,2000-01-01,Autonomous Region of Muslim Mindanao (ARMM),Tawi-Tawi,77,4754,0.000000
1535,2000-01-01,Central Luzon (Region III),Zambales,78,15246,721.129173
1536,2000-01-01,Zamboanga Peninsula (Region IX),Zamboanga del Norte,79,25971,12.207475
1537,2000-01-01,Zamboanga Peninsula (Region IX),Zamboanga del Sur,80,21520,1052.154341
1538,2000-01-01,Zamboanga Peninsula (Region IX),Zamboanga Sibugay,81,11035,15.576997

In [147]:
df_ntl_reg = pd.read_csv(path + "data/scratch/data.csv", index_col=False,
                         usecols=['YEAR', 'REGION', 'ZONE_CODE', 'NTL_COUNT', 'NTL_SUM'], 
                         parse_dates=['YEAR'])
df_ntl_reg.columns = [i.lower() for i in df_ntl_reg.columns]

In [148]:
df_ntl_reg

,year,region,zone_code,ntl_count,ntl_sum
0,2000-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,51776,401.994348
1,2001-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,51776,563.428316
2,2002-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,51776,555.334398
3,2003-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,51776,569.406300
4,2004-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,51776,503.546102
...,...,...,...,...,...
318,2014-01-01,Zamboanga Peninsula (Region IX),17,58494,2707.028250
319,2015-01-01,Zamboanga Peninsula (Region IX),17,58494,2724.677521
320,2016-01-01,Zamboanga Peninsula (Region IX),17,58494,2288.837433
321,2017-01-01,Zamboanga Peninsula (Region IX),17,58494,2799.646658
322,2018-01-01,Zamboanga Peninsula (Region IX),17,58494,3069.750007

In [149]:
df_ntl_prov = df_ntl_reg.set_index(['region', 'year']).join(df_ntl_prov.set_index(['region', 'year']),
                                                            rsuffix='_prov')

In [150]:
df_ntl_prov.columns = ['reg_id', 'reg_count_lit', 'reg_ntl', 'province', 'prov_id', 'prov_count_lit',
                       'prov_ntl']

In [151]:
df_ntl_prov = df_ntl_prov.assign(prov_ntl_share = lambda x: x.prov_ntl / x.reg_ntl)

In [152]:
df_ntl_prov

                                                        reg_id  reg_count_lit  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01       1          51776
                                            2000-01-01       1          51776
                                            2000-01-01       1          51776
                                            2000-01-01       1          51776
                                            2000-01-01       1          51776
...                                                        ...            ...
Zamboanga Peninsula (Region IX)             2017-01-01      17          58494
                                            2017-01-01      17          58494
                                            2018-01-01      17          58494
                                            2018-01-01      17          58494
                                            2018-01-01      17          58494

                                                            reg_ntl  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01   401.994348
                                            2000-01-01   401.994348
                                            2000-01-01   401.994348
                                            2000-01-01   401.994348
                                            2000-01-01   401.994348
...                                                             ...
Zamboanga Peninsula (Region IX)             2017-01-01  2799.646658
                                            2017-01-01  2799.646658
                                            2018-01-01  3069.750007
                                            2018-01-01  3069.750007
                                            2018-01-01  3069.750007

                                                                   province  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01              Basilan
                                            2000-01-01        Lanao del Sur
                                            2000-01-01          Maguindanao
                                            2000-01-01                 Sulu
                                            2000-01-01            Tawi-Tawi
...                                                                     ...
Zamboanga Peninsula (Region IX)             2017-01-01    Zamboanga del Sur
                                            2017-01-01    Zamboanga Sibugay
                                            2018-01-01  Zamboanga del Norte
                                            2018-01-01    Zamboanga del Sur
                                            2018-01-01    Zamboanga Sibugay

                                                        prov_id  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        9
                                            2000-01-01       42
                                            2000-01-01       44
                                            2000-01-01       73
                                            2000-01-01       77
...                                                         ...
Zamboanga Peninsula (Region IX)             2017-01-01       80
                                            2017-01-01       81
                                            2018-01-01       79
                                            2018-01-01       80
                                            2018-01-01       81

                                                        prov_count_lit  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            5552
                                            2000-01-01           15769
                                            2000-01-01           19401
                                            2000-01-01            6300
                                            2000-01-01            4754
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01           21487
                                            2017-01-01           11023
                                            2018-01-01           25984
                                            2018-01-01           21487
                                            2018-01-01           11023

                                                           prov_ntl  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01     0.000000
                                            2000-01-01    21.143568
                                            2000-01-01   374.564932
                                            2000-01-01     6.285847
                                            2000-01-01     0.000000
...                                                             ...
Zamboanga Peninsula (Region IX)             2017-01-01  2296.027802
                                            2017-01-01   150.172805
                                            2018-01-01   384.779999
                                            2018-01-01  2530.060008
                                            2018-01-01   154.909999

                                                        prov_ntl_share
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        0.000000
                                            2000-01-01        0.052597
                                            2000-01-01        0.931767
                                            2000-01-01        0.015637
                                            2000-01-01        0.000000
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01        0.820113
                                            2017-01-01        0.053640
                                            2018-01-01        0.125346
                                            2018-01-01        0.824191
                                            2018-01-01        0.050463

[1539 rows x 8 columns]

In [153]:
df_predictions = pd.read_excel(path + "gdp_predictions.xlsx", index_col=False,
                               usecols=['region', 'year', 'period', 'zone_code', 'ind_ntl_top13_p1', 
                                        'svc_ntl_top13_p1', 'non_agr_ntl_top13_p1', 'ind_ntl_top13_p2',
                                        'svc_ntl_top13_p2', 'non_agr_ntl_top13_p2'], 
                               parse_dates=['year'])
df_predictions.columns = [i.lower() for i in df_predictions.columns]

In [154]:
df_ntl_prov = df_ntl_prov.join(df_predictions.set_index(['region', 'year']), rsuffix='_pred')

In [155]:
df_ntl_prov = df_ntl_prov.assign(log_ind_p1 = lambda x: x.ind_ntl_top13_p1 * x.prov_ntl_share,
                                 log_ind_p2 = lambda x: x.ind_ntl_top13_p2 * x.prov_ntl_share,
                                 log_svc_p1 = lambda x: x.svc_ntl_top13_p1 * x.prov_ntl_share,
                                 log_svc_p2 = lambda x: x.svc_ntl_top13_p2 * x.prov_ntl_share,
                                 log_non_agr_p1 = lambda x: x.non_agr_ntl_top13_p1 * x.prov_ntl_share,
                                 log_non_agr_p2 = lambda x: x.non_agr_ntl_top13_p2 * x.prov_ntl_share)

In [156]:
df_ntl_prov_gr = df_ntl_prov[['province', 'prov_id', 'log_ind_p1', 'log_ind_p2', 'log_svc_p1', 
                              'log_svc_p2', 'log_non_agr_p1', 
                              'log_non_agr_p2']].groupby(by=['province', 'prov_id']).diff() * 100

In [157]:
df_ntl_prov = df_ntl_prov.assign(log_ind_p1_gr = df_ntl_prov[['province', 'log_ind_p1']].groupby(by='province').diff() * 100,
                                 log_ind_p2_gr = df_ntl_prov[['province', 'log_ind_p2']].groupby(by='province').diff() * 100,
                                 log_svc_p1_gr = df_ntl_prov[['province', 'log_svc_p1']].groupby(by='province').diff() * 100,
                                 log_svc_p2_gr = df_ntl_prov[['province', 'log_svc_p2']].groupby(by='province').diff() * 100,
                                 log_non_agr_p1_gr = df_ntl_prov[['province', 'log_non_agr_p1']].groupby(by='province').diff() * 100,
                                 log_non_agr_p2_gr = df_ntl_prov[['province', 'log_non_agr_p2']].groupby(by='province').diff() * 100)

In [158]:
df_ntl_prov.reset_index().to_excel('province-gdp.xlsx', index=False)

In [159]:
df_ntl_prov

                                                        reg_id  reg_count_lit  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01       1          51776
                                            2000-01-01       1          51776
                                            2000-01-01       1          51776
                                            2000-01-01       1          51776
                                            2000-01-01       1          51776
...                                                        ...            ...
Zamboanga Peninsula (Region IX)             2017-01-01      17          58494
                                            2017-01-01      17          58494
                                            2018-01-01      17          58494
                                            2018-01-01      17          58494
                                            2018-01-01      17          58494

                                                            reg_ntl  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01   401.994348
                                            2000-01-01   401.994348
                                            2000-01-01   401.994348
                                            2000-01-01   401.994348
                                            2000-01-01   401.994348
...                                                             ...
Zamboanga Peninsula (Region IX)             2017-01-01  2799.646658
                                            2017-01-01  2799.646658
                                            2018-01-01  3069.750007
                                            2018-01-01  3069.750007
                                            2018-01-01  3069.750007

                                                                   province  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01              Basilan
                                            2000-01-01        Lanao del Sur
                                            2000-01-01          Maguindanao
                                            2000-01-01                 Sulu
                                            2000-01-01            Tawi-Tawi
...                                                                     ...
Zamboanga Peninsula (Region IX)             2017-01-01    Zamboanga del Sur
                                            2017-01-01    Zamboanga Sibugay
                                            2018-01-01  Zamboanga del Norte
                                            2018-01-01    Zamboanga del Sur
                                            2018-01-01    Zamboanga Sibugay

                                                        prov_id  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        9
                                            2000-01-01       42
                                            2000-01-01       44
                                            2000-01-01       73
                                            2000-01-01       77
...                                                         ...
Zamboanga Peninsula (Region IX)             2017-01-01       80
                                            2017-01-01       81
                                            2018-01-01       79
                                            2018-01-01       80
                                            2018-01-01       81

                                                        prov_count_lit  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            5552
                                            2000-01-01           15769
                                            2000-01-01           19401
                                            2000-01-01            6300
                                            2000-01-01            4754
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01           21487
                                            2017-01-01           11023
                                            2018-01-01           25984
                                            2018-01-01           21487
                                            2018-01-01           11023

                                                           prov_ntl  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01     0.000000
                                            2000-01-01    21.143568
                                            2000-01-01   374.564932
                                            2000-01-01     6.285847
                                            2000-01-01     0.000000
...                                                             ...
Zamboanga Peninsula (Region IX)             2017-01-01  2296.027802
                                            2017-01-01   150.172805
                                            2018-01-01   384.779999
                                            2018-01-01  2530.060008
                                            2018-01-01   154.909999

                                                        prov_ntl_share  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        0.000000
                                            2000-01-01        0.052597
                                            2000-01-01        0.931767
                                            2000-01-01        0.015637
                                            2000-01-01        0.000000
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01        0.820113
                                            2017-01-01        0.053640
                                            2018-01-01        0.125346
                                            2018-01-01        0.824191
                                            2018-01-01        0.050463

                                                        zone_code     period  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01          1  2000-2008
                                            2000-01-01          1  2000-2008
                                            2000-01-01          1  2000-2008
                                            2000-01-01          1  2000-2008
                                            2000-01-01          1  2000-2008
...                                                           ...        ...
Zamboanga Peninsula (Region IX)             2017-01-01         17  2009-2018
                                            2017-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018

                                                        ...  log_svc_p1  \
region                                      year        ...
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01  ...    0.000000
                                            2000-01-01  ...    0.492420
                                            2000-01-01  ...    8.723376
                                            2000-01-01  ...    0.146393
                                            2000-01-01  ...    0.000000
...                                                     ...         ...
Zamboanga Peninsula (Region IX)             2017-01-01  ...         NaN
                                            2017-01-01  ...         NaN
                                            2018-01-01  ...         NaN
                                            2018-01-01  ...         NaN
                                            2018-01-01  ...         NaN

                                                        log_svc_p2  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01         NaN
                                            2000-01-01         NaN
                                            2000-01-01         NaN
                                            2000-01-01         NaN
                                            2000-01-01         NaN
...                                                            ...
Zamboanga Peninsula (Region IX)             2017-01-01    9.228906
                                            2017-01-01    0.603621
                                            2018-01-01    1.419684
                                            2018-01-01    9.334910
                                            2018-01-01    0.571556

                                                        log_non_agr_p1  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        0.000000
                                            2000-01-01        0.517035
                                            2000-01-01        9.159430
                                            2000-01-01        0.153711
                                            2000-01-01        0.000000
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01             NaN
                                            2017-01-01             NaN
                                            2018-01-01             NaN
                                            2018-01-01             NaN
                                            2018-01-01             NaN

                                                        log_non_agr_p2  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01             NaN
                                            2000-01-01             NaN
                                            2000-01-01             NaN
                                            2000-01-01             NaN
                                            2000-01-01             NaN
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01        9.726313
                                            2017-01-01        0.636154
                                            2018-01-01        1.495706
                                            2018-01-01        9.834776
                                            2018-01-01        0.602162

                                                        log_ind_p1_gr  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01            NaN
                                            2017-01-01            NaN
                                            2018-01-01            NaN
                                            2018-01-01            NaN
                                            2018-01-01            NaN

                                                        log_ind_p2_gr  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01       2.696691
                                            2017-01-01      13.617333
                                            2018-01-01      -3.156814
                                            2018-01-01      -0.099603
                                            2018-01-01      10.423308

                                                        log_svc_p1_gr  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01            NaN
                                            2017-01-01            NaN
                                            2018-01-01            NaN
                                            2018-01-01            NaN
                                            2018-01-01            NaN

                                                        log_svc_p2_gr  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
                                            2000-01-01            NaN
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01       2.533468
                                            2017-01-01      12.488933
                                            2018-01-01      -3.206506
                                            2018-01-01      -0.099541
                                            2018-01-01      10.600431

                                                        log_non_agr_p1_gr  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01                NaN
                                            2000-01-01                NaN
                                            2000-01-01                NaN
                                            2000-01-01                NaN
                                            2000-01-01                NaN
...                                                                   ...
Zamboanga Peninsula (Region IX)             2017-01-01                NaN
                                            2017-01-01                NaN
                                            2018-01-01                NaN
                                            2018-01-01                NaN
                                            2018-01-01                NaN

                                                        log_non_agr_p2_gr
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01                NaN
                                            2000-01-01                NaN
                                            2000-01-01                NaN
                                            2000-01-01                NaN
                                            2000-01-01                NaN
...                                                                   ...
Zamboanga Peninsula (Region IX)             2017-01-01           2.737627
                                            2017-01-01          13.603191
                                            2018-01-01          -3.399256
                                            2018-01-01          -0.154412
                                            2018-01-01          10.846238

[1539 rows x 28 columns]

In [160]:
df_longdiff = df_ntl_prov.reset_index().pivot(index=['province', 'prov_id'], columns=['year'],
                                              values=['log_non_agr_p1', 'log_non_agr_p2']).reset_index()

In [161]:
df_longdiff.shape

(81, 40)

In [162]:
df_longdiff = df_longdiff.iloc[:, [0, 1, 2, 10, 30, 39]]

In [163]:
df_longdiff.columns = ['province', 'prov_id', 'log_non_agr_gdp_2000', 'log_non_agr_gdp_2008',
                       'log_non_agr_gdp_2009', 'log_non_agr_gdp_2018']

In [164]:
df_longdiff = df_longdiff.assign(ld_non_agr_gdp_p1 = lambda x: 100 * (x.log_non_agr_gdp_2008 - x.log_non_agr_gdp_2000),
                                 ld_non_agr_gdp_p2 = lambda x: 100 * (x.log_non_agr_gdp_2018 - x.log_non_agr_gdp_2009))

In [165]:
df_longdiff.to_csv('province-gdp-longdiff.csv', index=False)

In [166]:
df_longdiff

,province,prov_id,log_non_agr_gdp_2000,log_non_agr_gdp_2008,log_non_agr_gdp_2009,log_non_agr_gdp_2018,ld_non_agr_gdp_p1,ld_non_agr_gdp_p2
0,Abra,1,0.000000,0.000000,0.078294,0.197776,0.000000,11.948178
1,Agusan del Norte,2,6.351799,6.948286,6.434776,5.359812,59.648753,-107.496405
2,Agusan del Sur,3,0.045991,0.962932,1.899454,1.396366,91.694146,-50.308822
3,Aklan,4,0.059215,0.200780,0.292890,0.510041,14.156432,21.715157
4,Albay,5,4.421015,4.175247,2.623674,3.505157,-24.576879,88.148376
...,...,...,...,...,...,...,...,...
76,Tawi-Tawi,77,0.000000,0.000000,0.000000,1.598513,0.000000,159.851306
77,Zambales,78,1.073308,1.215351,0.955965,0.707471,14.204323,-24.849366
78,Zamboanga Sibugay,81,0.136717,0.056425,0.227593,0.602162,-8.029211,37.456842
79,Zamboanga del Norte,79,0.107143,1.072875,2.828458,1.495706,96.573236,-133.275278
80,Zamboanga del Sur,80,9.234578,8.677370,8.228347,9.834776,-55.720819,160.642861

In [167]:
df_ntl_avg_gr = df_ntl_prov[['province', 'log_non_agr_p1_gr']].groupby(by='province').mean().join(df_ntl_prov[['province', 'log_non_agr_p2_gr']].groupby(by='province').mean())

In [168]:
df_ntl_avg_gr.reset_index(inplace=True)
df_ntl_avg_gr.to_csv('province-gdp-avg-gr.csv', index=False)

In [36]:
show(df_ntl_prov)

In [87]:
df_ntl_prov.reset_index(inplace=True)

In [90]:
df_ntl_prov_2000 = df_ntl_prov[df_ntl_prov['year']=='2000-01-01']

In [93]:
df_ntl_prov_2000 = df_ntl_prov_2000[['province', 'prov_id', 'log_non_agr_p1', 'log_ind_p1', 'log_svc_p1']]

In [94]:
df_ntl_prov_2000.to_csv('province-gdp-2000.csv', index=False)

In [95]:
df_ntl_prov_2018 = df_ntl_prov[df_ntl_prov['year']=='2018-01-01']

In [96]:
df_ntl_prov_2018 = df_ntl_prov_2018[['province', 'prov_id', 'log_non_agr_p2', 'log_ind_p2', 'log_svc_p2']]

In [97]:
df_ntl_prov_2018.to_csv('province-gdp-2018.csv', index=False)

In [99]:
df_ntl_prov_2009 = df_ntl_prov[df_ntl_prov['year']=='2009-01-01']

df_ntl_prov_2009 = df_ntl_prov_2009[['province', 'prov_id', 'log_non_agr_p2', 'log_ind_p2', 'log_svc_p2']]

df_ntl_prov_2009.to_csv('province-gdp-2009.csv', index=False)

In [100]:
df_ntl_prov_2008 = df_ntl_prov[df_ntl_prov['year']=='2008-01-01']

df_ntl_prov_2008 = df_ntl_prov_2008[['province', 'prov_id', 'log_non_agr_p1', 'log_ind_p1', 'log_svc_p1']]

df_ntl_prov_2008.to_csv('province-gdp-2008.csv', index=False)

## Agriculture GDP by province from Land Cover

In [57]:
df_lc_prov = pd.read_excel(path + "data/scratch/LC_2001-2019_PHL_province.xlsx", index_col=False,
                           usecols=['YEAR', 'NAME_1', 'OBJECTID', 'VALUE_12'], 
                           parse_dates=['YEAR'])
df_lc_prov.columns = [i.lower() for i in df_lc_prov.columns]

In [58]:
df_lc_prov['region'] = ''

In [59]:
df_lc_prov.loc[df_lc_prov['name_1'].isin(ncr), 'region'] = 'Metropolitan Manila'
df_lc_prov.loc[df_lc_prov['name_1'].isin(car), 'region'] = 'Cordillera Administrative Region (CAR)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region1), 'region'] = 'Ilocos Region (Region I)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region2), 'region'] = 'Cagayan Valley (Region II)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region3), 'region'] = 'Central Luzon (Region III)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region4a), 'region'] = 'CALABARZON (Region IV-A)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region4b), 'region'] = 'MIMAROPA (Region IV-B)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region5), 'region'] = 'Bicol Region (Region V)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region6), 'region'] = 'Western Visayas (Region VI)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region7), 'region'] = 'Central Visayas (Region VII)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region8), 'region'] = 'Eastern Visayas (Region VIII)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region9), 'region'] = 'Zamboanga Peninsula (Region IX)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region10), 'region'] = 'Northern Mindanao (Region X)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region11), 'region'] = 'Davao Region (Region XI)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region12), 'region'] = 'SOCCSKSARGEN (Region XII)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(region13), 'region'] = 'Caraga (Region XIII)'
df_lc_prov.loc[df_lc_prov['name_1'].isin(armm), 'region'] = 'Autonomous Region of Muslim Mindanao (ARMM)'

In [60]:
df_lc_prov = df_lc_prov[['year', 'region', 'name_1', 'objectid', 'value_12']]

In [61]:
df_lc_prov

,year,region,name_1,objectid,value_12
0,2019-01-01,Cordillera Administrative Region (CAR),Abra,1,1.474705e+08
1,2019-01-01,Caraga (Region XIII),Agusan del Norte,2,8.758074e+07
2,2019-01-01,Caraga (Region XIII),Agusan del Sur,3,3.209147e+08
3,2019-01-01,Western Visayas (Region VI),Aklan,4,3.391607e+07
4,2019-01-01,Bicol Region (Region V),Albay,5,1.294392e+08
...,...,...,...,...,...
1534,2001-01-01,Autonomous Region of Muslim Mindanao (ARMM),Tawi-Tawi,77,0.000000e+00
1535,2001-01-01,Central Luzon (Region III),Zambales,78,2.354806e+08
1536,2001-01-01,Zamboanga Peninsula (Region IX),Zamboanga del Norte,79,1.455386e+08
1537,2001-01-01,Zamboanga Peninsula (Region IX),Zamboanga del Sur,80,4.310346e+08
1538,2001-01-01,Zamboanga Peninsula (Region IX),Zamboanga Sibugay,81,1.079733e+08

In [62]:
df_lc_reg = pd.read_csv(path + "data/scratch/data.csv", index_col=False,
                        usecols=['YEAR', 'REGION', 'ZONE_CODE', 'LC_C12'], 
                        parse_dates=['YEAR'])
df_lc_reg.columns = [i.lower() for i in df_lc_reg.columns]

In [63]:
df_lc_reg

,year,region,zone_code,lc_c12
0,2000-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,NaN
1,2001-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,217449236.0
2,2002-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,209721523.8
3,2003-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,196627344.7
4,2004-01-01,Autonomous Region of Muslim Mindanao (ARMM),1,187182363.1
...,...,...,...,...
318,2014-01-01,Zamboanga Peninsula (Region IX),17,543301102.1
319,2015-01-01,Zamboanga Peninsula (Region IX),17,610489266.9
320,2016-01-01,Zamboanga Peninsula (Region IX),17,683687874.4
321,2017-01-01,Zamboanga Peninsula (Region IX),17,618216979.1
322,2018-01-01,Zamboanga Peninsula (Region IX),17,561117772.0

In [65]:
df_lc_prov = df_lc_reg.set_index(['region', 'year']).join(df_lc_prov.set_index(['region', 'year']),
                                                          rsuffix='_prov')

In [67]:
df_lc_prov.columns = ['reg_code', 'croplands_reg', 'province', 'prov_code', 'croplands_prov']

In [68]:
df_lc_prov = df_lc_prov.assign(prov_lc_share = lambda x: x.croplands_prov / x.croplands_reg)

In [69]:
df_lc_prov

                                                        reg_code  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
...                                                          ...
Zamboanga Peninsula (Region IX)             2017-01-01        17
                                            2017-01-01        17
                                            2018-01-01        17
                                            2018-01-01        17
                                            2018-01-01        17

                                                        croplands_reg  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01    618216979.1
                                            2017-01-01    618216979.1
                                            2018-01-01    561117772.0
                                            2018-01-01    561117772.0
                                            2018-01-01    561117772.0

                                                                   province  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01                  NaN
                                            2001-01-01              Basilan
                                            2001-01-01        Lanao del Sur
                                            2001-01-01          Maguindanao
                                            2001-01-01                 Sulu
...                                                                     ...
Zamboanga Peninsula (Region IX)             2017-01-01    Zamboanga del Sur
                                            2017-01-01    Zamboanga Sibugay
                                            2018-01-01  Zamboanga del Norte
                                            2018-01-01    Zamboanga del Sur
                                            2018-01-01    Zamboanga Sibugay

                                                        prov_code  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        NaN
                                            2001-01-01        9.0
                                            2001-01-01       42.0
                                            2001-01-01       44.0
                                            2001-01-01       73.0
...                                                           ...
Zamboanga Peninsula (Region IX)             2017-01-01       80.0
                                            2017-01-01       81.0
                                            2018-01-01       79.0
                                            2018-01-01       80.0
                                            2018-01-01       81.0

                                                        croplands_prov  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01             NaN
                                            2001-01-01    0.000000e+00
                                            2001-01-01    7.191066e+07
                                            2001-01-01    1.455386e+08
                                            2001-01-01    0.000000e+00
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01    4.072075e+08
                                            2017-01-01    9.874299e+07
                                            2018-01-01    9.681106e+07
                                            2018-01-01    3.711448e+08
                                            2018-01-01    9.316186e+07

                                                        prov_lc_share
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2001-01-01       0.000000
                                            2001-01-01       0.330701
                                            2001-01-01       0.669299
                                            2001-01-01       0.000000
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01       0.658681
                                            2017-01-01       0.159722
                                            2018-01-01       0.172533
                                            2018-01-01       0.661438
                                            2018-01-01       0.166029

[1475 rows x 6 columns]

In [71]:
df_agr_predictions = pd.read_excel(path + "ntl_predictions_26Apr.xls", index_col=False,
                               usecols=['region', 'year', 'period', 'zone_code', 
                                        'agr_c1012_top12c12_p1', 'agr_c1012_top12c12_p2'], 
                               parse_dates=['year'])
df_agr_predictions.columns = [i.lower() for i in df_agr_predictions.columns]

In [72]:
df_agr_predictions

,region,year,zone_code,period,agr_c1012_top12c12_p1,agr_c1012_top12c12_p2
0,Autonomous Region of Muslim Mindanao (ARMM),2000-01-01,1,2000-2008,NaN,NaN
1,Autonomous Region of Muslim Mindanao (ARMM),2001-01-01,1,2000-2008,9.100493,NaN
2,Autonomous Region of Muslim Mindanao (ARMM),2002-01-01,1,2000-2008,9.156196,NaN
3,Autonomous Region of Muslim Mindanao (ARMM),2003-01-01,1,2000-2008,9.191840,NaN
4,Autonomous Region of Muslim Mindanao (ARMM),2004-01-01,1,2000-2008,9.249896,NaN
...,...,...,...,...,...,...
318,Zamboanga Peninsula (Region IX),2014-01-01,17,2009-2018,NaN,10.346752
319,Zamboanga Peninsula (Region IX),2015-01-01,17,2009-2018,NaN,10.344734
320,Zamboanga Peninsula (Region IX),2016-01-01,17,2009-2018,NaN,10.331133
321,Zamboanga Peninsula (Region IX),2017-01-01,17,2009-2018,NaN,10.358918
322,Zamboanga Peninsula (Region IX),2018-01-01,17,2009-2018,NaN,10.362748

In [74]:
df_lc_prov = df_lc_prov.join(df_agr_predictions.set_index(['region', 'year']), rsuffix='_pred')

In [76]:
df_lc_prov = df_lc_prov.assign(log_agr_p1 = lambda x: x.agr_c1012_top12c12_p1 * x.prov_lc_share,
                               log_agr_p2 = lambda x: x.agr_c1012_top12c12_p2 * x.prov_lc_share)

In [78]:
df_lc_prov

                                                        reg_code  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
...                                                          ...
Zamboanga Peninsula (Region IX)             2017-01-01        17
                                            2017-01-01        17
                                            2018-01-01        17
                                            2018-01-01        17
                                            2018-01-01        17

                                                        croplands_reg  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01    618216979.1
                                            2017-01-01    618216979.1
                                            2018-01-01    561117772.0
                                            2018-01-01    561117772.0
                                            2018-01-01    561117772.0

                                                                   province  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01                  NaN
                                            2001-01-01              Basilan
                                            2001-01-01        Lanao del Sur
                                            2001-01-01          Maguindanao
                                            2001-01-01                 Sulu
...                                                                     ...
Zamboanga Peninsula (Region IX)             2017-01-01    Zamboanga del Sur
                                            2017-01-01    Zamboanga Sibugay
                                            2018-01-01  Zamboanga del Norte
                                            2018-01-01    Zamboanga del Sur
                                            2018-01-01    Zamboanga Sibugay

                                                        prov_code  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01        NaN
                                            2001-01-01        9.0
                                            2001-01-01       42.0
                                            2001-01-01       44.0
                                            2001-01-01       73.0
...                                                           ...
Zamboanga Peninsula (Region IX)             2017-01-01       80.0
                                            2017-01-01       81.0
                                            2018-01-01       79.0
                                            2018-01-01       80.0
                                            2018-01-01       81.0

                                                        croplands_prov  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01             NaN
                                            2001-01-01    0.000000e+00
                                            2001-01-01    7.191066e+07
                                            2001-01-01    1.455386e+08
                                            2001-01-01    0.000000e+00
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01    4.072075e+08
                                            2017-01-01    9.874299e+07
                                            2018-01-01    9.681106e+07
                                            2018-01-01    3.711448e+08
                                            2018-01-01    9.316186e+07

                                                        prov_lc_share  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01            NaN
                                            2001-01-01       0.000000
                                            2001-01-01       0.330701
                                            2001-01-01       0.669299
                                            2001-01-01       0.000000
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01       0.658681
                                            2017-01-01       0.159722
                                            2018-01-01       0.172533
                                            2018-01-01       0.661438
                                            2018-01-01       0.166029

                                                        zone_code     period  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
...                                                           ...        ...
Zamboanga Peninsula (Region IX)             2017-01-01         17  2009-2018
                                            2017-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018

                                                        agr_c1012_top12c12_p1  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01                    NaN
                                            2001-01-01               9.100493
                                            2001-01-01               9.100493
                                            2001-01-01               9.100493
                                            2001-01-01               9.100493
...                                                                       ...
Zamboanga Peninsula (Region IX)             2017-01-01                    NaN
                                            2017-01-01                    NaN
                                            2018-01-01                    NaN
                                            2018-01-01                    NaN
                                            2018-01-01                    NaN

                                                        agr_c1012_top12c12_p2  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01                    NaN
                                            2001-01-01                    NaN
                                            2001-01-01                    NaN
                                            2001-01-01                    NaN
                                            2001-01-01                    NaN
...                                                                       ...
Zamboanga Peninsula (Region IX)             2017-01-01              10.358918
                                            2017-01-01              10.358918
                                            2018-01-01              10.362748
                                            2018-01-01              10.362748
                                            2018-01-01              10.362748

                                                        log_agr_p1  log_agr_p2
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2000-01-01         NaN         NaN
                                            2001-01-01    0.000000         NaN
                                            2001-01-01    3.009541         NaN
                                            2001-01-01    6.090952         NaN
                                            2001-01-01    0.000000         NaN
...                                                            ...         ...
Zamboanga Peninsula (Region IX)             2017-01-01         NaN    6.823218
                                            2017-01-01         NaN    1.654549
                                            2018-01-01         NaN    1.787911
                                            2018-01-01         NaN    6.854320
                                            2018-01-01         NaN    1.720518

[1475 rows x 12 columns]

In [87]:
df_lc_prov.drop(index=['2000-01-01'], level=1, inplace=True)

In [88]:
df_lc_prov

                                                        reg_code  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
                                            2001-01-01         1
...                                                          ...
Zamboanga Peninsula (Region IX)             2017-01-01        17
                                            2017-01-01        17
                                            2018-01-01        17
                                            2018-01-01        17
                                            2018-01-01        17

                                                        croplands_reg  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
                                            2001-01-01    217449236.0
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01    618216979.1
                                            2017-01-01    618216979.1
                                            2018-01-01    561117772.0
                                            2018-01-01    561117772.0
                                            2018-01-01    561117772.0

                                                                   province  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01              Basilan
                                            2001-01-01        Lanao del Sur
                                            2001-01-01          Maguindanao
                                            2001-01-01                 Sulu
                                            2001-01-01            Tawi-Tawi
...                                                                     ...
Zamboanga Peninsula (Region IX)             2017-01-01    Zamboanga del Sur
                                            2017-01-01    Zamboanga Sibugay
                                            2018-01-01  Zamboanga del Norte
                                            2018-01-01    Zamboanga del Sur
                                            2018-01-01    Zamboanga Sibugay

                                                        prov_code  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01        9.0
                                            2001-01-01       42.0
                                            2001-01-01       44.0
                                            2001-01-01       73.0
                                            2001-01-01       77.0
...                                                           ...
Zamboanga Peninsula (Region IX)             2017-01-01       80.0
                                            2017-01-01       81.0
                                            2018-01-01       79.0
                                            2018-01-01       80.0
                                            2018-01-01       81.0

                                                        croplands_prov  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01    0.000000e+00
                                            2001-01-01    7.191066e+07
                                            2001-01-01    1.455386e+08
                                            2001-01-01    0.000000e+00
                                            2001-01-01    0.000000e+00
...                                                                ...
Zamboanga Peninsula (Region IX)             2017-01-01    4.072075e+08
                                            2017-01-01    9.874299e+07
                                            2018-01-01    9.681106e+07
                                            2018-01-01    3.711448e+08
                                            2018-01-01    9.316186e+07

                                                        prov_lc_share  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01       0.000000
                                            2001-01-01       0.330701
                                            2001-01-01       0.669299
                                            2001-01-01       0.000000
                                            2001-01-01       0.000000
...                                                               ...
Zamboanga Peninsula (Region IX)             2017-01-01       0.658681
                                            2017-01-01       0.159722
                                            2018-01-01       0.172533
                                            2018-01-01       0.661438
                                            2018-01-01       0.166029

                                                        zone_code     period  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
                                            2001-01-01          1  2000-2008
...                                                           ...        ...
Zamboanga Peninsula (Region IX)             2017-01-01         17  2009-2018
                                            2017-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018
                                            2018-01-01         17  2009-2018

                                                        agr_c1012_top12c12_p1  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01               9.100493
                                            2001-01-01               9.100493
                                            2001-01-01               9.100493
                                            2001-01-01               9.100493
                                            2001-01-01               9.100493
...                                                                       ...
Zamboanga Peninsula (Region IX)             2017-01-01                    NaN
                                            2017-01-01                    NaN
                                            2018-01-01                    NaN
                                            2018-01-01                    NaN
                                            2018-01-01                    NaN

                                                        agr_c1012_top12c12_p2  \
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01                    NaN
                                            2001-01-01                    NaN
                                            2001-01-01                    NaN
                                            2001-01-01                    NaN
                                            2001-01-01                    NaN
...                                                                       ...
Zamboanga Peninsula (Region IX)             2017-01-01              10.358918
                                            2017-01-01              10.358918
                                            2018-01-01              10.362748
                                            2018-01-01              10.362748
                                            2018-01-01              10.362748

                                                        log_agr_p1  log_agr_p2
region                                      year
Autonomous Region of Muslim Mindanao (ARMM) 2001-01-01    0.000000         NaN
                                            2001-01-01    3.009541         NaN
                                            2001-01-01    6.090952         NaN
                                            2001-01-01    0.000000         NaN
                                            2001-01-01    0.000000         NaN
...                                                            ...         ...
Zamboanga Peninsula (Region IX)             2017-01-01         NaN    6.823218
                                            2017-01-01         NaN    1.654549
                                            2018-01-01         NaN    1.787911
                                            2018-01-01         NaN    6.854320
                                            2018-01-01         NaN    1.720518

[1458 rows x 12 columns]

In [107]:
df_lc_prov_gr = df_lc_prov.reset_index().set_index(['province', 'year'])[['prov_code', 'log_agr_p1', 
                                                                          'log_agr_p2']].groupby('prov_code').diff() * 100

In [110]:
df_lc_prov_gr.reset_index().to_excel('province-agr-gr.xlsx', index=False)

In [138]:
df_lc_prov_gr.reset_index().groupby('province').mean().reset_index().to_csv('province-agr-gr-avg.csv', index=False)